#navbar {
    padding: .5rem;
    background: white;
    width: 100%;
    color: purple;
}

#highScores {
    text-decoration: none;
    color: purple;
    float: right;
}

button {
    border: none;
    background-color: purple;
    color: white;
    padding: .5rem;
    border-radius: .3rem;
}

button:hover {
    background-color: violet;
}

body {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    background-color: white;
    padding: .5rem;
    border-radius: .4rem;
    margin: auto;
    max-width: 600px;
    padding: 1rem;
    margin-top: 1rem;
    /* border: dotted grey .15rem; */
}

.btn-grid {
    display: grid;
    grid-template-rows: auto;
}

button {
    margin: .2rem;
}

.home {
    text-decoration: none;
    color: white;
}

.hide {
    display: none;
}



.correct, .wrong {
    font-style: italic;
    border-top: grey solid .1rem;
    color: grey;
}

header {
    text-align: center;
    margin-bottom: 1rem;
}

#score-list {
    /* text-align: center; */
}

.name {
    background-color: rgba(128, 128, 128, 0.137);
    padding: .5rem;
}